.heading {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  align-items: baseline;
}

.row {
  display: flex;
}

.half-col {
  width: 100%;
  height: 8rem;
}

.half-col.left {
  margin-left: 1rem;
}

.half-col.right {
  text-align: right;
  margin-right: 1rem;
}

.full-col {
  width: 100%;
  justify-content: center;
  display: flex;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
  div.button-list {
    margin-top: -1.5rem;
  }
}

@media screen and (min-width: 768px) {
  .half-col.left {
    margin-left: 6rem;
    margin-top: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  .half-col.right {
    margin-right: 6rem;
    margin-top: 2rem;
  }

  .button-list {
    margin-top: 5rem;
  }

  a {
    margin-right: 4rem;
  }

  div.open-modal {
    width: 30%;
  }
}

@media screen and (min-width: 1440px) {
  div.half-col.left {
    margin-left: 12rem;
  }

  div.half-col.right {
    margin-right: 10rem;
  }
}
