.heading {
  display: flex;
  justify-content: space-between;
  margin: 0 1.5rem;
  align-items: baseline;
}

.row {
  width: 100%;
  display: flex;
}

.half-col {
  width: 100%;
  height: 8rem;
}

.half-col.left {
  margin-left: 1rem;
}

.half-col.right {
  text-align: right;
  margin-right: 1rem;
}

.full-col {
  width: 100%;
  justify-content: center;
  display: flex;
}
