body {
  /* font-family: 'Caveat Brush', cursive; */
  font-family: 'Crete Round', serif;
  background-color: #e5e5e5;
}

header {
  width: 100%;
  background-color: #8fedd6;
}

i.fas.fa-home {
  font-size: 2rem;
}

i.fas.fa-home:hover {
  cursor: pointer;
}

i.fas.fa-home.hidden {
  visibility: hidden;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 1.25rem;
}

.button-list {
  display: flex;
  flex-direction: column;
}

button {
  width: 15rem;
  margin-top: 1.5rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #7f7caf;

  /* font-family: 'Caveat Brush', cursive; */
  font-family: 'Crete Round', serif;
  font-size: 1.25rem;
}

button:hover {
  /* background-color: #615D98; */
  cursor: pointer;
  color: white;
}

.tailwags,
.reflect,
.view-entry,
.stay-pawsitive {
  height: 100vh;
}

.title {
  text-align: center;
}

.place-holder,
.quote-here {
  width: 90%;
}

.hide {
  display: none;
}

img {
  object-fit: contain;
  width: 100%;
  max-height: 22rem;
}

.spinner,
.spinner2 {
  width: 5rem;
  margin: 5rem auto;
}

.quote-here {
  margin: 2rem auto;
  border-radius: 0.5rem;
  padding: 2rem 3.5rem 1rem;

  /* background-color: #8feded; */
  background-color: white;
  box-shadow: 0.6rem 0.3rem 0.3rem #7f7caf;
}

h3 {
  font-size: 1.2rem;
  font-family: 'ABeeZee', sans-serif;
}

p {
  margin-top: 4rem;
  font-size: 1.1rem;
  font-family: 'ABeeZee', sans-serif;
}

form {
  width: 75%;
}

.verify,
label {
  /* font-family: sans-serif; */
  font-family: 'ABeeZee', sans-serif;
}

textarea {
  width: 100%;
  height: 20rem;
  margin-top: 0.5rem;
}

.save-button {
  text-align: right;
}

button.save {
  /* background-color: #8feded; */
  background-color: #7f7caf;
  width: 4rem;
  height: 2rem;
}

.entry-here {
  width: 80%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text {
  background-color: white;
  width: 90%;
  height: 10rem;
  margin: auto;
  border-radius: 0.5rem;
  box-shadow: 0.6rem 0.3rem 0.3rem #7f7caf;
}

p.input {
  margin: 0.75rem;
  padding-top: 0.5rem;
}

a {
  display: flex;
  justify-content: flex-end;
  color: red;
  padding-right: 0.75rem;
}

.modal {
  position: fixed;
  left: 0;
  display: none;
}

.modal-active {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  top: 0;
}

.open-modal {
  background-color: white;
  width: 85%;
  padding-bottom: 2.5rem;
}

.open-modal > p {
  text-align: center;
}

.modal-response {
  display: flex;
  justify-content: space-evenly;
}

.button-cancel,
.button-delete {
  width: 5rem;
  font-family: sans-serif;
  font-size: 1rem;
}

/* .button-cancel {
  background-color: tomato;
}

.button-cancel:hover {
  background-color: black;
  color: tomato;
}

.button-delete {
  background-color: lightgreen;
}

.button-delete:hover {
  background-color: black;
  color: lightgreen;
} */
